.cardContainer {
  perspective: 1000px;
  display: inline-block;
  margin: 0.5rem;
  width: 100%;
  height: 100%;
}
@media (max-width: 600px) {
  .cardContainer {
    margin: 0.25rem;
  }
}
@media (max-width: 600px) {
  .cardInner {
    position: relative;
    width: 3rem;
    height: 3rem;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
  }
}
.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}
.cardInner.isFlipped {
  transform: rotateY(180deg);
}
.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: 1px solid black;
  display: grid;
  place-items: center;
  font-size: 3rem;
  backface-visibility: hidden;
}
.cardFront {
  background: rgba(245, 245, 245, 0.4);
  backdrop-filter: blur(10px);
  color: lightgreen;
  text-shadow: 0 0 1px black;
  transform: rotateY(180deg);
}
.cardBack {
  background-color: rgba(245, 245, 245, 0.4);
  backdrop-filter: blur(10px);
  color: lightgreen;
  text-shadow: 0 0 1px black;
}
.icon {
  font-size: 2rem;
  margin: 0;
}

.image {
  width: 100%;
}
